.accounts {
  .clearfix();
  text-align: center;
  margin: 0 auto;
  width: 550px;
  .account {
    display: inline-block;
  }
  button {
    margin-top: 50px;
  }
  img {
    display: block;
    margin: 10px;
  }
  i {
    margin-left: 10px;
  }
}