body {
	margin: 0;
	padding: 0;
	position: relative;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	border-bottom: 1px solid #555;
	margin: 20px 0;
	padding-bottom: 10px;
	h1 {
		font-weight: 400;
		font-size: 28px;
		line-height: 28px;
		text-transform: uppercase;
		margin: 0;
	}
}