.tags-bar {
	width: 90%;
	position: absolute;
	left: 30px;
	top: 11px;
	.select2-container-multi .select2-choices {
		border: none;
		background: none;
		background-image: none;
		box-shadow: none;
	}
	.select2-container-multi .select2-choices .select2-search-field input {
		margin: 3px 0;
		max-width: 150px !important; // Should a tag ever be more than 150 width? I think no.
	}
	.select2-container-multi .select2-choices .select2-search-choice {
		background: #fcfcfc;
		border-color: #95a5a6;
		margin: 1px 0 0 5px;
		padding: 5px 5px 5px 18px;
	}
	.select2-container-multi .select2-search-choice-close {
		left: 3px;
		top: 6px;
	}
}

// Drop downs
// ----------
.select2-drop {
	border: 1px solid #95a5a6;
	width: 300px !important; // I don't want it 100%
}
.select2-results .select2-highlighted {
	background: #fcfcfc;
	color: #555;
}
