.tags-bar {
	width: 90%;
	position: absolute;
	left: 30px;
	top: 5px;
  .selectize-input, .selectize-control.single .selectize-input.focus {
    padding: 7px;
    margin-left: 10px;
  }
  .selectize-input, .selectize-control.single .selectize-input.focus {
    border: none;
    box-shadow: none;
  }
  .selectize-control.default.multi .selectize-input > div {
    color: #2c3e50;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border: 1px solid @btnBorder;
    .border-radius(3px);
    background: @btnBackground;
    background-image: none;
    // .buttonBackground(@btnBackgroundHighlight, @btnBackground, @grayDark, 0 1px 1px rgba(255,255,255,.75));
    .box-shadow(~"inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05)");
    i {
      color: #2c3e50;
    }
  }
}
