<form>
	<div id="js-errors" class="hide">
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<span></span>
		</div>
	</div>
	<div id="write">
		<button class="btn large publish pull-right">Publish Post</button>
		<div class="info">
			<div>
				<i data-dir="up" class="icon-chevron-sign-right js-toggle"></i>
				<input type="text" style="width: 50%" name="title" id="title" value="" placeholder="Title">
			</div>
			<div class="details hide">
				<i class="icon-terminal"></i>
				<input type="text" style="width: 50%" name="slug" id="slug" value="" placeholder="URI Slug">
			</div>
		</div>
		<div class="content-area">
			<textarea name="content" id="content" placeholder="Content Goes Here..."></textarea>
			<div class="tags-bar hide">
				<input type="hidden" id="js-tags" name="tags" class="tags" style="width:224px;" placeholder="Add Tags" data-placeholder="Add Tags">
			</div>
		</div>
	</div>
</form>
