<form class="form-horizontal">
  <div id="js-errors" class="hide">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span></span>
    </div>
  </div>
  <div class="alert alert-success hide">
    <strong>Success!</strong> Your account has been saved!
  </div>
  <div class="control-group">
    <label class="control-label" for="first_name">First Name</label>
    <div class="controls">
      <input type="text" id="first_name" name="first_name" placeholder="First Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="last_name">Last Name</label>
    <div class="controls">
      <input type="text" id="last_name" name="last_name" placeholder="Last Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      <input type="text" id="email" name="email" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input class="input-xlarge" id="password" type="password" name="password" value="">
      <span class="help-inline">Enter a new password to change password</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn save">Save</button>
    </div>
  </div>
</form>