<form>
  <input type="hidden" name="publish_date" id="publish_date" value="">
  <div id="js-errors" class="hide">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span></span>
    </div>
  </div>
  <div id="write">
    <div class="info">
      <div class="field">

        <% if (typeof id !== 'undefined') { %>
          <a href="<%= previewUrl() %>" target="_blank" class="btn btn-mini preview pull-right"><%= Lang.post_preview %></a>
        <% } %>

        <button class="btn btn-mini btn-success publish pull-right"><%= submitBtnText() %></button>

        <i data-dir="up" class="icon-chevron-sign-right js-toggle" title="<%= Lang.post_expand %>"></i>
        <input type="text" style="width: 50%" name="title" id="title" value="" placeholder="<%= Lang.post_title %>">
      </div>
      <div class="details hide">
        <div class="field">
          <i class="icon-terminal" title="<%= Lang.post_slug %>"></i>
          <input type="text" style="width: 50%" name="slug" id="slug" value="" placeholder="<%= Lang.post_slug %>">
        </div>
        <div class="field author">
          <i class="icon-user" title="<%= Lang.post_author %>"></i>
          <select id="js-user" name="user_id"></select>
        </div>
        <div class="field status">
          <i class="icon-off" title="Status"></i>
          <label class="radio"><input type="radio" name="active" class="js-active" value="1" checked> <%= Lang.post_published %></label>
          <label class="radio"><input type="radio" name="active" class="js-active" value="0"> <%= Lang.post_draft %></label>
        </div>
      </div>
    </div>
    <div class="content-area">
      <textarea name="content" id="content" placeholder="<%= Lang.post_content %>"></textarea>
      <div class="tags-bar hide">
        <input type="text" id="js-tags" name="tags" class="tags" style="width: 90%" value="" placeholder="<%= Lang.post_tags %>">
      </div>
    </div>
    <div class="extra-fields">
      <h3>Extra Fields</h3>
      <div class="field">
        <div class="col">
          <input type="text" name="key[]" value="" placeholder="Key">
        </div>
        <div class="col">
          <textarea name="value[]" placeholder="Value"></textarea>
        </div>
        <div class="col">
          <a href="#" class="js-remove"><i class="icon-remove-sign"></i></a>
        </div>
      </div>
    </div>
  </div>
</form>

<div id="date-form" style="display: none">
  <form class="form-inline">
    <label for="date"><%= Lang.post_publish_date %></label><br>
    <input type="text" name="date" class="js-date" id="date" value="" placeholder="Next Thursday 10am">
    <button class="btn js-setdate"><%= Lang.post_publish_date_set %></button>
  </form>
</div>
