<form>
  <input type="hidden" name="publish_date" id="publish_date" value="">
  <div id="js-errors" class="hide">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span></span>
    </div>
  </div>
  <div id="write">
    <button class="btn btn-mini publish pull-right"><%= submitBtnText() %></button>
    <div class="info">
      <div class="field">
        <i data-dir="up" class="icon-chevron-sign-right js-toggle" title="Expand for options"></i>
        <input type="text" style="width: 50%" name="title" id="title" value="" placeholder="Title">
      </div>
      <div class="details hide">
        <div class="field">
          <i class="icon-terminal" title="URI Slug"></i>
          <input type="text" style="width: 50%" name="slug" id="slug" value="" placeholder="URI Slug">
        </div>
        <div class="field status">
          <i class="icon-off" title="Status"></i>
          <label class="radio"><input type="radio" name="active" class="js-active" value="1" checked> Published</label>
          <label class="radio"><input type="radio" name="active" class="js-active" value="0"> Draft</label>
        </div>
      </div>
    </div>
    <div class="content-area">
      <textarea name="content" id="content" placeholder="Content Goes Here..."></textarea>
      <div class="tags-bar hide">
        <input type="text" id="js-tags" name="tags" class="tags" style="width: 90%" value="" placeholder="Tags">
      </div>
    </div>
  </div>
</form>

<div id="date-form" style="display: none">
  <form class="form-inline">
    <label for="date">Publish Date</label><br>
    <input type="text" name="date" class="js-date" id="date" value="" placeholder="Next Thursday 10am">
    <button class="btn js-setdate">Set</button>
  </form>
</div>
