<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Wardrobe</a>
      <ul class="nav">
        <li class="active"><a class="write" href="#">Write</a></li>
        <li><a class="posts" href="#post">Posts</a></li>
        <li class="divider-vertical"></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="#" class="edit-account">Edit Account</a></li>
        <li><a href="/wardrobe/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>