<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Wardrobe</a>
    <ul class="nav">
      <li class="active"><a class="write" href="#">Write</a></li>
      <li><a class="posts" href="#post">Posts</a></li>
      <li class="divider-vertical"></li>
    </ul>
    <ul class="nav pull-right">
      <li class="dropdown dropdown-user">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <img src="" class="avatar" width="16">
        You <b class="caret"></b>
      </a>
      <ul class="dropdown-menu right">
        <li><a href="/wardrobe/logout">Logout</a></li>
      </ul>
    </li>
    </ul>
  </div>
</div>
