<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">Wardrobe</a>

      <ul class="nav">
        <li class="active"><a class="write" href="#">Write</a></li>
        <li><a  class="posts" href="#post">Posts</a></li>
      </ul>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
      	<!--
        <ul class="nav">
          <li class="active"><a class="write" href="#">Write</a></li>
          <li><a  class="posts" href="#post">Posts</a></li>
        </ul>
        -->
      </div>

    </div>
  </div>
</div>